<html>
<head>
  {% include 'head.html' %}
</head>
<body class="">
<div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col col-login mx-auto">
              <div class="text-center mb-6">
                <img src="{{url_for('static', filename = 'assets/logo.svg')}}" class="h-6" alt="">
              </div>
              <form class="card" action="" method="post">
                <div class="card-body p-6">
                  <div class="card-title">Forgot password</div>
                  <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
                  <div class="form-group">
                    {% set formData=[{'label':'Phone Number', 'required':True, 'placeholder':'Phone Number','type':'tel','name':'phone'}] %}
                    {% include 'form.html' %}
                  </div>
                  <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
                  </div>
                </div>
              </form>
              <div class="text-center text-muted">
                Forget it, <a href="/login">send me back</a> to the sign in screen.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
